@font-face {
    font-family: "NotoSansJP";
    src: url("../../font/NotoSansJP-VariableFont_wght.ttf");
}
*{
    box-sizing: border-box;
    font-family: NotoSansJP;
}
html, body{
    margin: 0;
    background-color: #EDF2F6;
    z-index:initial;
}
img {
    width: 100%;
    height: auto;
}
.container {
    max-width: 1200px;
    margin-inline: auto;
}
.inConteiner{
    max-width: 1072px;
    margin-inline: auto;
}
p{
    margin: 0;
}
a{
    text-decoration: none;
}
.flex {
    display: flex;
}
.space-between {
    justify-content:space-between;
}
.space-around {
    justify-content: space-around;
}
.space-center {
    justify-content: center;
}
@media only screen and (max-width: 1200px) {
    .container {
      margin-inline: 30px;
    }
    .inConteiner{
        padding-inline: 20px;
    }
}

.section-title{
    position: absolute;
    width: 400px;
    height: 50px;
    background-image: linear-gradient(to right, var(--section-title), var(--section-title), #ffffff00);
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    top: 0;
    left: 60px;
    padding-left: 25px;
}
.section-title::before{
    content: "";
    position: absolute;
    width: 400px;
    height: 2px;
    background-image: linear-gradient(to right, var(--section-title-underline), var(--section-title-underline), #ffffff00);
    bottom: 0px;
    left: 0px;
}
.text-top{
    margin-top: 7px;
}
@media only screen and (max-width: 610px) {
    .section-title{
        width: 300px;
        height: 38px;
        font-size: 20px;
        left: 36px;
        top: 0;
        padding-left: 30px;
    }
    .section-title::before{
        width: 300px;
        bottom: 0;
        left: 0;
    }
}
main{
    overflow: hidden;
}
/* background vector */
.bg{
    position: absolute;
    opacity: 0.5;
}
.vector1{
    top: 60px;
    left: -10%;
}
.vector2{
    top: 300px;
    right: -20%;
}
.vector3{
    top: 100px;
    left: 30px;
}
.vector4{
    top: 100px;
    right: 0;
}
.vector5{
    top: 200px;
    left: -11%;
}
.vector6{
    top: 30%;
    right: -20%;
}
.vector7{
    top: 40%;
    left: 50%;
}
.vector8{
    top: 61%;
    left: -10%;
}
.vector9{
    top: 25%;
    opacity: 0.8;
    left:-25%;
}
.vector10{
    top: -15%;
    right: -5%;
}